.center {
  margin:auto;
  width:50%;
  text-align:center;
}

div.showCard {
  border-width:5px;
  border-style:solid;
  border-color:black;
  text-align:center;
  display:none;
}

* { 
    font-family: Verdana; 
    font-size: 96%; 
}

label { 
    width: 10em; 
    float: left; 
}

label.error { 
    float: none; 
    color: red; 
    padding-left: .5em; 
    vertical-align: top; 
}

p { 
    clear: both; 
}

em { 
    font-weight: bold; 
    padding-right: 1em; 
    vertical-align: top; 
}